

.btn_cv{
    border-radius: 2px !important;
    border-color: white !important;
}

.fondo{
    background-color:rosybrown;
}

.links{
    text-decoration: none !important;
    color: black !important ;
}